In [1]:
print("ali")

ali

In [2]:
a =56
b =4
c =a+b
print(c)

60

In [3]:
print('hello word')

hello word

In [4]:
a =10
b =20
print(a, b)
c = a
a = b
b = c
print(a, b)

10 20
20 10

In [5]:
 del a
print(a)

NameError: name 'a' is not defined

In [11]:
var = 'hello world'
print(var +"  " + "python")
print(lrn(var))

hello world  python

NameError: name 'lrn' is not defined

In [12]:
print(len(var))

11

In [ ]:
ali = 'ali'
print(ali)

In [1]:
a = 12
print(a)

12

In [1]:
with open("tst.txt") as f:
    deta = f.readline()
    print(deta)

A

In [10]:
with open("tst.txt") as file:
    deta = file.readlines()
    print(deta[0])

A

In [13]:
with open("tst.txt") as file:
    deta = file.readlines()
    print(deta)

print("----------")
print(deta)

['A\n', 'AA\n', 'AAA\n', 'AAAA\n', 'AAAAA\n', 'AAAAAA\n', 'AAAAAAA']
----------
['A\n', 'AA\n', 'AAA\n', 'AAAA\n', 'AAAAA\n', 'AAAAAA\n', 'AAAAAAA']

In [14]:
with open("tst.txt") as file:
    deta = file.read()
    print(deta)

print("----------")
print(deta)

A
AA
AAA
AAAA
AAAAA
AAAAAA
AAAAAAA
----------
A
AA
AAA
AAAA
AAAAA
AAAAAA
AAAAAAA

In [23]:



with open("tst.txt", mode="w") as file:
    deta = file.write("123456789")

In [30]:
with open("tst.txt", mode="r") as file:
    deta = file.readlines()
    
    if deta == "A":
        deta.lower()
        print(deta)
        
        print(deta)





with open("tst.txt", mode="w") as file:
    file.write("deta_replace")

In [29]:
with open("tst.txt", mode="r") as file:
    deta = file.read()
    
    if deta == "A":
        deta.lower()
        print(deta)

In [32]:
with open("tst.txt") as file:
    deta = file.readlines()
    print(deta)

print("----------")
print(deta)

['a\n', 'aa\n', 'aaa\n', 'aaaa\n', 'aaaaa\n', 'aaaaaa\n', 'aaaaaaa']
----------
['a\n', 'aa\n', 'aaa\n', 'aaaa\n', 'aaaaa\n', 'aaaaaa\n', 'aaaaaaa']

In [56]:


with open("tst.txt", mode="r") as file:
    line = file.read()
    print(line)
    
word = line[2]
print(word)

A
AA
AAA
AAAA
AAAAA
AAAAAA
AAAAAAA
A

In [58]:

with open("tst.txt", mode="r") as file:
    line = file.read()
    print(line)

A
AA
AAA
AAAA
AAAAA
AAAAAA
AAAAAAA

In [59]:
a, b = 'lives', 'elvis'
sorted(a)

['e', 'i', 'l', 's', 'v']

In [60]:
sorted(b)

['e', 'i', 'l', 's', 'v']

In [61]:
'|'.join(b)

'e|l|v|i|s'

In [62]:
def signiture(word):
    return ''.join(sorted(word))

In [63]:
signiture('love')

'elov'

In [64]:
signiture('ali')

'ail'

In [65]:
signiture('ali') == signiture('ila')

True

In [66]:
signiture('ali') == signiture('reza')

False

In [67]:
def sum(num1, num2):
    return num1+num2

In [68]:
sum(12, 15)

27

In [72]:
def mult(name, family, age, code_meli):
    return name, family, age, code_meli

In [74]:
mult("ali", "morady", 24, "456897")

('ali', 'morady', 24, '456897')

In [75]:
dictionary = {'iran':'tehran', 'spain':'madrid', 'germany':'berlin'}
print(dictionary)

{'iran': 'tehran', 'spain': 'madrid', 'germany': 'berlin'}

In [76]:
print(len(dictionary))

3

In [104]:
count1 = 0
count2 = 0
count3 = 0
count4 = 0
count5 = 0
count6 = 0
count7 = 0
count8 = 0
count9 = 0
count10 = 0
count11 = 0



for i in dictionary:
    length =len(dictionary[i])
    #rint(length)
    if length == 6:
        count6 += 1
       
print(count1, ">>>>>>>>> 1")
print(count2,">>>>>>>>> 2")
print(count3,">>>>>>>>> 3")
print(count4,">>>>>>>>> 4")
print(count5,">>>>>>>>> 5")
print(count6, ">>>>>>>>> 6")
print(count7,">>>>>>>>> 7")
print(count8,">>>>>>>>> 8")
print(count9,">>>>>>>>> 9")
print(count10, ">>>>>>>> 10")
print(count11, ">>>>>>>> 11")

0 >>>>>>>>> 1
0 >>>>>>>>> 2
0 >>>>>>>>> 3
0 >>>>>>>>> 4
0 >>>>>>>>> 5
3 >>>>>>>>> 6
0 >>>>>>>>> 7
0 >>>>>>>>> 8
0 >>>>>>>>> 9
0 >>>>>>>> 10
0 >>>>>>>> 11

In [105]:
dictionary = {'iran':'tehran', 'spain':'madrid', 'germany':'berlinn', 'italy':'rom','arak':'baghdad', 'emirate':'dubi', 'gatar':'abuzabi'}
print(dictionary)

{'iran': 'tehran', 'spain': 'madrid', 'germany': 'berlinn', 'italy': 'rom', 'arak': 'baghdad', 'emirate': 'dubi', 'gatar': 'abuzabi'}

In [107]:
count1 = 0
count2 = 0
count3 = 0
count4 = 0
count5 = 0
count6 = 0
count7 = 0
count8 = 0
count9 = 0
count10 = 0
count11 = 0



for i in dictionary:
    length =len(dictionary[i])
    
    if length == 1:
        count1 += 1
    elif length == 2:
        count2 += 1
    elif length == 3:
        count3 += 1
    elif length == 4:
        count4 += 1
    elif length == 5:
        count5 += 1
    elif length == 6:
        count6 += 1
    elif length == 7:
        count7 += 1
    elif length == 8:
        count8 += 1
    elif length == 9:
        count9 += 1
    elif length == 10:
        count10 += 1
    else:
        count11 += 1
       
print(count1, ">>>>>>>>> 1")
print(count2,">>>>>>>>> 2")
print(count3,">>>>>>>>> 3")
print(count4,">>>>>>>>> 4")
print(count5,">>>>>>>>> 5")
print(count6, ">>>>>>>>> 6")
print(count7,">>>>>>>>> 7")
print(count8,">>>>>>>>> 8")
print(count9,">>>>>>>>> 9")
print(count10, ">>>>>>>> 10")
print(count11, ">>>>>>>> 11")

0 >>>>>>>>> 1
0 >>>>>>>>> 2
1 >>>>>>>>> 3
1 >>>>>>>>> 4
0 >>>>>>>>> 5
2 >>>>>>>>> 6
3 >>>>>>>>> 7
0 >>>>>>>>> 8
0 >>>>>>>>> 9
0 >>>>>>>> 10
0 >>>>>>>> 11